[submodule "duo-sdk"]
	path = duo-sdk
	url = https://github.com/milkv-duo/duo-sdk.git
[submodule "lvgl"]
	path = lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "minmea"]
	path = minmea
	url = https://github.com/kosma/minmea.git
[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog.git
